importFrom(Rcpp, evalCpp)
useDynLib(geojsonR, .registration = TRUE)

export(Dump_From_GeoJson)
export(FROM_GeoJson)
export(FROM_GeoJson_Schema)
export(Features_2Collection)
export(TO_GeoJson)
export(shiny_from_JSON)
export(merge_files)
importFrom(R6,R6Class)
